* {
    font-family: 'Roboto', sans-serif;
    /* Propriedade para controlar o dimensionamento dos elementos */
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    
}

/* media query permite criar desings responsivos que se adaptam em telas diferentes */
/* dentro do argumento se ler assim: quando a tela chegar no minimo de largura proprosto que é 992px... */
@media screen and (min-width: 992px) {
    /* meu content vai ter o maximo de largura de 992px e vai ficar centralizado na tela */
    .content{
        max-width: 992px;
        margin: 0 auto;
        border-radius: 1rem;
    }
  }

  